<div class="color_it_green">
	<span class="color_it_orange">iwillworkforGumbo</span> is a Job (or Task) Posting site where anyone can bid on doing the job or executing the described task that a member posts.<br />
	In order to post a Job or Task that you wish people to bid on and perform your requirements, you will need to become a <span class="color_it_orange">"New Member"</span>.<br />  See below for navigation and helpful tips. Now go do some stuff! :-)
</div><br />

<div style="font-size: 120%;" class="color_it_orange">How to Get Started:</div><br />

Any stuff that turns 'orange-ish' when you hover over it with your mouse (or your finger on tablets and smart phones) is 'Clickable.'<br /><br />
The <span class="color_it_orange">iwillworkforGumbo</span> Logo is <span class="color_it_orange">"Clickable"</span>.  Clicking on the logo or the <span class="color_it_orange">"Soup's On"</span> link will navigate you back to the first page.<br /><br />


You can always <span class="color_it_orange"><i>"Simmer Just A Bit!"</i></span> which cancels your current action and takes you to the previous page.<br /><br />

<span class="color_it_green"><i>>> If you want to publish information about stuff you need done</i>,</span> then follow these helpful hints:<br /><br />

Only members can post stuff they want done.&nbsp;&nbsp;So, click on the <span class="color_it_orange">"New Member"</span> link in the upper right of the page and fill in the appropriate information and press the <span class="color_it_orange">"Create&nbsp;Member"</span> button.
Once you are a member, just <span class="color_it_orange">"Login"</span> with your email address and the password you created.&nbsp;&nbsp;
"Logged in" members will see different options on their screen than users who are "not" Logged in.<br /><br />
A member can bid on other members stuff but not on their own stuff.<br />
Members can <span class="color_it_orange">"Edit"</span> their posted stuff as long as there are no active bids.  Members can always "Remove' their stuff, even if there are open bids.<br /><br />
Once a bid is accepted, stuff cannot be edited or removed.<br />
Oh Yeah, members can then <span class="color_it_orange">"Accept"</span> the bid they want and an email will be sent to the bidder to tell them they got the bid.<br /><br />

>> <span class="color_it_green"><i>If you want to bid on some stuff without becoming a member</i>,</span> then follow these instructions:<br /><br />

Click on some stuff, then bid on it (hint: the bid button is located at the bottom left)<br />
An email will be sent to the poster of the stuff as soon as your bid is recorded.    ----  Have Fun!!   <div style="float:right"><%= link_to('Simmer Just A Bit!', 'javascript:history.go(-1);', :class => 'cancel') %></div>

