
* {
  margin: 0 auto;
}


body {
  background-color: #fff;
  color: #333;
}

body, p, ol, ul, td {
  font-family: "Comic Sans MS", verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

table {
	padding-top: 0px;
	width: 100%;
}

p {
  padding: 5px;
}

a {
  color: #f5b100; /*#D95E16; */
  padding:0 2px;
  text-decoration:none;
}

a:hover {
  background-color:#FF813C;
  color:#FFFFFF;
}

tr {
	height: 45px;
}

.job_title {
  color: #f5b100; /*#D95E16; */
  padding:0 2px;
  text-decoration: underline;
}
.notice { color: #57cd24 /*#999966*/; }
.alert  { color: #993333; }
#error_explanation { color: #CC0000; }

#bids { color: #333333; }
.bid_selected { color: #009933; }

#has_comments {
	color: #999999;
	font-style: italic;
}
#comments {
  color: #999999;
  width: 90%;
  word-wrap: break-word;
  -moz-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 100px;
  margin-top: 0px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  }

#comments_table  {
 border: 2px solid #999999;
 width: 110%;
 padding: 5px;
 -moz-border-radius: 20px;
 -webkit-border-radius: 20px;
 -khtml-border-radius: 20px;
 border-radius: 20px;
}
/*#header, #main, #footer {
  width: 800px;
}*/

#header {
  font-family: "Comic Sans MS", "Myriad Web Pro",Helvetica,Arial,sans-serif;
  letter-spacing: 1px;
  color:#333333;
  margin: auto;
  float: left;
  height: 45px;
}

#header a:hover {
  background-color: #ffd;
}

#member_bar {
  float: right;
  font-size: 10px;
  color: #993333;
}

#footer {
  border-top: 5px solid #333333;
  margin-top: 10px;
  clear: both;
  padding: 10px 0px;
  text-align: center;
  font-size: 11px;
}

#header h1 {
  font-size: 30px;
}

#header h1 a{
  color: black;
}

#header h1 a:hover {
  background-color: #FF813C;
  color: #FFFFFF;
}

#header p {
  float: right;
}

#main h2 {
  font-size: 16px;
  margin-top: 25px;
  padding-top: 10px;
  border-top: 5px solid #333333;
  border-bottom: 1px solid #bbb;
  margin-bottom: 10px;
}


#main form{
  text-align: left;
}

#main form br{
  display: none;
  float: left;
}

#main form label {
  width: 100px;
  display: block;
  text-align: right;
  padding-right: 10px;
  float: left;
  line-height: 21px;
  vertical-align: center;
  background-color: #F0F0F0;
  border: 2px solid #ccc;
  margin-right: 10px;

}



#main form label.check_box_label {
  width: auto;
  display: inline;
  text-align: right;
  padding-right: 10px;
  line-height: 21px;
  vertical-align: center;
  background-color: #FFF;
  border: none;
}

#main form .field, #main form .actions {
  padding-top: 10px;
  clear: both;
}

#main form textarea {
  float: left;
  font-size: 14px;
  width: 500px;
  padding: 2px;
  border: 2px solid #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;

}

#main form input[type=text], #main form input[type=password] {
  float: left;
  font-size: 14px;
  width: 250px;
  padding: 2px;
  border: 2px solid #ccc;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;

}

#main form input[type=checkbox] {
  margin: 4px;
  float: left;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;

}

#main form textarea {
  height: 150px;
}

#main form input[type=submit] {
  margin-left: 175px;
  float:left;
  margin-right: 10px;
  margin-bottom: 10px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

#main h3 {
  padding-top: 10px;
  height: 20px;
}

#main h3 .actions_mobile {
  font-weight: normal;
  font-size: 10px;
  float: right;
}

#main h3 .actions{
/*  display: none; */
  font-weight: normal;
  font-size: 10px;
/*  float: right; */
}

#main h3:hover .actions{
  display: inline;
}

#main .help {
	padding-left: 4em;
}


#errorExplanation {
  width: 413px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  margin: 0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
  margin: 0;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#container {
  width: 80%;
  margin: auto;
  background-color: #FFD;
  padding: 20px 40px;
  border: solid 15px #CC9900;
  margin: auto;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}

#my_page {
	background-color: blue;
}

#rounded_corners {
  border: 8px solid #D1A319;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
}


.not_accepting {
	color: #CC0000;
	font-weight:bold;
}

.color_it_orange {
  color: #f5b100;
}

.color_it_green {
  color: #009933;
}

.field_with_errors {
  display: inline;
}

.field_with_errors .message  {
  color: #D00;
  padding-left: 5px;
  font-size: 12px;
}

#main form label.message {
  width: 200px;
  display: block;
  text-align: left;
  padding-right: 10px;
  float: left;
  line-height: 21px;
  vertical-align: center;
  background-color: transparent;
  border: none;
  margin-right: 10px;

}






